Repository onflow/flow, pull requests merged in 2020-12, with the labels that each got.

#218 Wording edits to staking docs
  docs/content/staking/events.mdx
  docs/content/staking/index.mdx
  docs/content/staking/locked-staking-guide.mdx
  docs/content/staking/locked-third-party-operator.mdx
  docs/content/staking/stake-slashing.mdx
  docs/content/staking/technical-overview.mdx
  docs/gatsby-config.js
Labels: Docs Site, T-Documentation 📃

#221 Add Puppeteer and Jest for testing.
  docs/integration/jest.config.js
  docs/integration/main.test.js
  docs/jest-puppeteer.config.js
  docs/package-lock.json
  docs/package.json
Labels: Docs Site

#224 Fix links for core contracts docs page.
  docs/content/protocol/core-contracts/index.md
Labels: Docs Site

#223 Add introduction to Dapp Development Guide
  docs/content/guides/dapp-deployment/index.md
Labels: Docs Site

#225 Replace Discord link with Discourse. Add home links.
  docs/gatsby-config.js
  docs/plugins/gatsby-theme-flow/gatsby-node.js
  docs/plugins/gatsby-theme-flow/src/components/page-content.js
  docs/plugins/gatsby-theme-flow/src/components/sidebar-nav.js
  docs/plugins/gatsby-theme-flow/src/components/templates/base.js
  docs/plugins/gatsby-theme-flow/src/ui/icons.js
Labels: Docs Site

#220 Docs for re-register, and node+delegator
  docs/content/staking/locked-delegation-guide.mdx
  docs/content/staking/locked-staking-guide.mdx
  docs/content/staking/technical-overview.mdx
Labels: Docs Site, T-Documentation 📃

#210 Edits to Node Operation docs from external (Natasha)
  docs/content/concepts/flow-concepts/accessing-testnet.mdx
  docs/content/concepts/flow-concepts/slashing.mdx
  docs/content/concepts/flow-concepts/transactions.mdx
  docs/content/intro/flow-token.mdx
  docs/content/node-operation/faq.mdx
  docs/content/node-operation/monitoring-nodes.mdx
  docs/content/node-operation/node-bootstrap.mdx
  docs/content/node-operation/node-roles.mdx
  docs/content/node-operation/node-setup.mdx
  docs/content/protocol/access-api.md
  docs/content/staking/technical-overview.mdx
  docs/content/token/index.mdx
Labels: Docs Site

#201 Feature: Dapp Deployment Guide
  docs/content/concepts/flow-concepts/accessing-testnet.mdx
  docs/content/concepts/flow-concepts/testnet.mdx
  docs/content/concepts/node-operation/staking-rewards.mdx
  docs/content/guides/dapp-deployment/contract-testing.md
  docs/content/guides/dapp-deployment/index.md
  docs/content/guides/dapp-deployment/mainnet-deployment.md
  docs/content/guides/dapp-deployment/testnet-deployment.md
  docs/content/guides/dapp-deployment/testnet-testing.md
  docs/content/sdks/golang/index.md
  docs/gatsby-config.js
Labels: Docs Site, Document

#242 Adds docs for events, lease accounts, and key submission
  docs/content/node-operation/locked-account-setup.mdx
  docs/content/protocol/core-contracts/locked-tokens.mdx
  docs/content/staking/events.mdx
  docs/content/staking/rewards.mdx
  docs/content/staking/technical-overview.mdx
  docs/content/token/locked-account-setup.mdx
Labels: Docs Site, T-Documentation 📃

#247 updates tutorials with best practices and fixes
  docs/content/tutorial/cadence/02-hello-world.mdx
  docs/content/tutorial/cadence/03-fungible-tokens.mdx
  docs/content/tutorial/cadence/04-non-fungible-tokens.mdx
  docs/content/tutorial/cadence/05-marketplace-setup.mdx
  docs/content/tutorial/cadence/06-marketplace-compose.mdx
  docs/content/tutorial/cadence/08-voting.mdx
Labels: Docs Site, T-Documentation 📃
