Repository onflow/flow, pull requests merged in 2021-02, with the labels that each got.

#346 Add method to Access API to retrieve latest protocol state snapshot
  protobuf/flow/access/access.proto
  protobuf/go/flow/access/access.pb.go
Labels: Access API, enhancement

#358 Updates Getting Started and Hello world tutorials
  docs/content/cadence/index.mdx
  docs/content/cadence/tutorial/01-first-steps.mdx
  docs/content/cadence/tutorial/02-hello-world.mdx
Labels: Docs Site, Document, T-Documentation 📃

#373 Updates Fungible Token tutorial
  docs/content/cadence/tutorial/03-fungible-tokens.mdx
Labels: Docs Site, Document, T-Documentation 📃, enhancement

#378 Updates NFT tutorial
  docs/content/cadence/tutorial/04-non-fungible-tokens.mdx
Labels: Docs Site, Document, T-Documentation 📃

#300 Add block ID to transaction results
  protobuf/flow/access/access.proto
  protobuf/go/flow/access/access.pb.go
  protobuf/go/flow/legacy/entities/account.pb.go
Labels: Access API, Improvement

#356 Create available-wallets.md
  docs/content/flow-token/available-wallets.md
  docs/gatsby-config.js
Labels: Docs Site, Document

#400 added new CLI documentation files
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
  docs/plugins/gatsby-remark-vscode-flow/index.js
Labels: bug
