Repository onflow/flow, pull requests merged in 2021-07, with the labels that each got.

#559 Epoch Docs Organization Proposal
  docs/content/staking/epoch-phase-diagram.png
  docs/content/staking/epoch-preparation.mdx
  docs/content/staking/epoch-scripts-events.mdx
  docs/content/staking/index.mdx
  docs/content/staking/locked-delegation-guide.mdx
  docs/content/staking/locked-staking-guide.mdx
  docs/content/staking/qc-dkg-scripts-events.mdx
  docs/content/staking/qc-dkg.mdx
  docs/content/staking/schedule.mdx
  docs/content/staking/scripts.mdx
  docs/content/staking/staking-collection.mdx
  docs/content/staking/staking-options.mdx
  docs/content/staking/staking-scripts-events.mdx
  docs/content/staking/technical-overview.mdx
  docs/content/staking/unlocked-delegation-guide.mdx
  docs/content/staking/unlocked-staking-guide.mdx
  docs/gatsby-config.js
Labels: Docs Site, P-High, T-Documentation 📃

#561 Staking collection Guide
  docs/content/core-contracts/staking-collection.mdx
  docs/content/staking/index.mdx
  docs/content/staking/staking-collection.mdx
  docs/content/staking/staking-options.mdx
  docs/gatsby-config.js
Labels: Docs Site, S-Epochs, T-Documentation 📃

#589 Storage parameters update in docs
  docs/content/concepts/storage.mdx
  docs/content/flow-token/concepts.mdx
Labels: Docs Site

#567 Epoch Docs
  docs/content/core-contracts/epoch-contract-reference.mdx
  docs/content/staking/epoch-preparation.mdx
  docs/content/staking/epoch-scripts-events.mdx
  docs/content/staking/epoch-service-event-diagram.png
  docs/content/staking/epoch-terminology.mdx
  docs/content/staking/index.mdx
  docs/content/staking/qc-dkg.mdx
  docs/content/staking/technical-overview.mdx
  docs/gatsby-config.js
Labels: Docs Site, S-Epochs, T-Documentation 📃
