Repository onflow/flow, pull requests merged in 2021-12, with the labels that each got.

#716 correct key weight document to be in the range of [1, 1000]
  docs/content/concepts/accounts-and-keys.md
  docs/content/concepts/transaction-signing.md
Labels: Docs Site

#718 add FLIP for storage API improvements in Cadence
  flips/20211208-cadence-storage-api-changes.md
Labels: FLIP

#730 Adds recent epoch hashes and new schedule
  docs/content/staking/schedule.mdx
Labels: Docs Site, T-Documentation 📃

#726 Update Cadence Storage API FLIP to include more suggested changes
  flips/20211208-cadence-storage-api-changes.md
Labels: FLIP

#636 FLIP-0636: NFT Metadata
  flips/20210916-nft-metadata.md
Labels: FLIP
