Repository onflow/flow, pull requests merged in 2021-04, with the labels that each got.

#455 Fix Storage Links
  docs/content/concepts/storage.mdx
Labels: Docs Site, bug

#99 FLIP-0099: Storage Fees
  docs/content/concepts/storage.mdx
  flips/20201310-storage-fees.md
Labels: FLIP

#476 Staking collection high-level description and PR fixes
  docs/content/staking/staking-collection-staking-delegation-guide.mdx
Labels: Docs Site, T-Documentation 📃

#472 Staking Collection Docs Page
  docs/content/core-contracts/staking-collection.mdx
  docs/gatsby-config.js
Labels: Docs Site, T-Documentation 📃

#481 Adds documentation for transferring a node or delegator between Staking Collections
  docs/content/core-contracts/staking-collection.mdx
  docs/content/staking/staking-collection-staking-delegation-guide.mdx
Labels: Docs Site, T-Documentation 📃
