Repository onflow/flow, pull requests merged in 2022-09, with the labels that each got.

#1056 FLIP for purity/mutability analysis and restriction in function conditions
  flips/20220715-cadence-purity-analysis.md
Labels: Breaking Change, FLIP, Cadence

#1123 Update rewards schedule
  docs/content/staking/schedule.mdx
Labels: Docs Site, T-Documentation 📃

#1122 FLIP for `publish` and `claim` for capabilities
  flips/20220908-publish-claim-capability.md
Labels: FLIP, Cadence
