Repository onflow/flow, pull requests merged in 2022-01, with the labels that each got.

#722 Add FLIP for making references to indexed accesses optional values
  flips/20211208-cadence-remove-optional-reference.md
Labels: FLIP, Cadence

#703 add FLIP for cadence mutability restrictions
  flips/20211129-cadence-mutability-restrictions.md
Labels: FLIP, Cadence

#728 Add feature parity with gRPC
  openapi/access.yaml
  openapi/go-client-generated/.swagger-codegen/VERSION
  openapi/go-client-generated/README.md
  openapi/go-client-generated/api/swagger.yaml
  openapi/go-client-generated/client.go
  openapi/go-client-generated/model_transaction_result__expandable.go
Labels: Feature

#771 Add missing CLI docs
  docs/gatsby-config.js
Labels: Docs Site

#729 Add FLIP for improving Cadence numeric supertypes
  flips/20211210-cadence-numeric-supertypes.md
Labels: FLIP, Cadence
